@model ProductModel

<form method="post">
    <input asp-for="ProductId" hidden/> 
        <div class="row pb-2">
            <h2 class="text-primary">Edit Product</h2>
            <hr />
        </div>
        <div class="mb-3 row pd-1"
      <label asp-for=Title class="pd-0"> </label>
    <input asp-for="Title" class="form-control"/>
    <span asp-validation-for="Title" class="text-danger"></span>
    </div>
        <div class="mb-3 row pd-1"
    <label asp-for=Description class="pd-0"> </label>
    <input asp-for="Description" class="form-control"/>
     <span asp-validation-for="Description" class="text-danger"></span>
    </div>
        <div class="mb-3 row pd-1"
    <label asp-for=ISBN class="pd-0"> </label>
    <input asp-for="ISBN" class="form-control"/>
     <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>
        <div class="mb-3 row pd-1"
    <label asp-for=Author class="pd-0"> </label>
    <input asp-for="Author" class="form-control"/>
     <span asp-validation-for="Author" class="text-danger"></span>
    </div>
        <div class="mb-3 row pd-1"
    <label asp-for=ListPrice class="pd-0"> </label>
    <input asp-for="ListPrice" class="form-control"/>
     <span asp-validation-for="ListPrice" class="text-danger"></span>
    </div>
        <div class="row">
            <div class=" col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class=" col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>




    </div>
</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}